.logoREMOVE {
  position: absolute;
  top: -39%;
  left: -14%;
  z-index: 1000;
  width: 100%;
color: #000000;
  .logo-text {
    text-transform: uppercase;
    font-size: 61rem;
    margin-left: -11px;
    letter-spacing: -0.02em;

    text-align: center;
    z-index: 100;

    .need,
    .drive {
      letter-spacing: 0.6px;
      font-weight: bold;
     
    }

    .for {
      font-size: 2rem;
      text-align: center;
      position: relative;
      top: -19px;
      margin: -10px;
      font-weight: normal;

    }

    .Rental-Car {
      letter-spacing: -9px;
      font-weight: bold;
      margin-left: 410px;
      margin-top: -1px;

      font-size: 1rem;
      font-weight: bold;
      color: #ff853f;
      opacity: 0.9;
    }

    .need+.for {
      margin-left: 7.9px;
    }

  }
}

/* download button styling */
.download-btn {
  position: relative; /* ensure z-index applies */
  z-index: 1000;

  background: #111;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.download-btn:active { transform: translateY(1px); }