// SCSS mixins for different screen sizes
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin transition($properties...) {
  transition: $properties;
}

