@use "../media.scss" as *; // Import media mixins

.video-backgroundUSER {
  z-index: 0; // Ensure the video stays in the background
  position: fixed; // Fix the video in the viewport
  top: 0;
  left: 0;
  width: 100vw; // Full width of the viewport
  height: 100vh; // Full height of the viewport
  object-fit: cover; // Ensure the video covers the entire background
  pointer-events: none; // Prevent interaction with the video
  will-change: transform; // Optimize for performance
}

.create-post-container {
  position: relative;
  font-family: "Courier New", monospace;
  z-index: 1000;
}

.BG-video-controls {
  position: fixed;
  bottom: 65px;
  display: flex;
  align-items: center;
  gap: 1rem; // Add spacing between icons
  background-color: rgb(0, 0, 0); // Semi-transparent background
  padding: 0.5rem 1rem;
  border-radius: 10px;

  .control-icon {
    font-size: 1.5rem; // Icon size
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #ff853f; // Highlight color on hover
    }
  }

  .volume-container {
    display: flex;
    align-items: center;
    position: relative;

    .volume-slider {
      margin-left: 0.5rem;
      width: 100px;
      background-color: #fff;
      border-radius: 5px;
    }
  }
}

.user-homepage {
  z-index: 10; // Layer the content above the video
  font-family: "Courier New", monospace;
display: flex;
position: relative;
  .user-welcome {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    bottom: 1rem;
  }

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .welcome-message {
    font-family: "Mononokiz", sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }

  .logo-banner {
    text-align: center;
    font-family: "Mononokiz";
    .logo {
      margin: 0 5px;
      font-size: 2rem;
    }
  }

  .main-content {
    padding: 2rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    .home-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;

      section {
        flex: 1;
        min-width: 300px;
        max-width: 500px;
        margin: 1rem;
      }
    }

    .btn-view-cars {
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      background-color: #55ff00;
      color: #fff;
      border: none;
      cursor: pointer;
      margin-bottom: 1rem;
      z-index: 1000;
    }

    .car-carousel {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
    }

    .car-card {
      min-width: 200px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      padding: 10px;
      text-align: center;
    }

    .last-chat {
      margin-top: 2rem;
    }
  }
}

.logo-user-home-page {
  position: relative;
  top: 20%;
  left: 50%;
  bottom: 130px;
  transform: translate(-50%, -50%);
  width: auto;

  flex-direction: column;
  /* Stack the content vertically */
  width: 100%;

  .logo-text {
    text-transform: uppercase;
    font-size: 8rem;
    margin-left: -11px;
    letter-spacing: -0.02em;

    text-align: center;
    z-index: 100;

    .need,
    .drive {
      letter-spacing: 0.6px;
      font-weight: bold;
      margin-left: -7px;
      text-align: center;
    }

    .for {
      font-size: 5rem;
      text-align: center;
      position: relative;
      top: -30px;
      margin: -8px;
      font-weight: normal;
    }

    .Rental-Car {
      letter-spacing: -9px;
      font-weight: bold;
      margin-left: 410px;
      margin-top: -1px;

      font-size: 1rem;
      font-weight: bold;
      color: #ff853f;
      opacity: 0.9;
    }

    .need + .for {
      margin-left: 13px;
    }
  }
}

@include mobile {
  .BG-video-controls {
    position: fixed;
    z-index: 10; // Ensure controls are above the video
    bottom: 65px;
  }
  .video-backgroundUSER {
    z-index: 0; // Ensure the video stays in the background
    position: fixed; // Fix the video in the viewport
    top: 0;
    left: 0;
    width: 100vw; // Full width of the viewport
    height: 100vh; // Full height of the viewport
    object-fit: cover; // Ensure the video covers the entire background
  }
  .logo-user-home-page {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -50%);
    z-index: -100;
    width: auto;

    flex-direction: column;
    /* Stack the content vertically */
    width: 100%;

    .logo-text {
      text-transform: uppercase;
      font-size: 1rem;
      margin-left: -19px;
      letter-spacing: -0.02em;

      text-align: center;
      z-index: 100;

      .need,
      .drive {
        letter-spacing: 0.6px;
        margin: -6px;
        font-weight: bold;
        text-align: center;
      }

      .for {
        font-size: 0.5rem;
        text-align: center;
        position: relative;
        top: -5px;
        margin: 3.7px;
        font-weight: normal;
      }

      .Rental-Car {
        letter-spacing: -9px;
        font-weight: bold;
        margin-left: 410px;
        margin-top: -1px;

        font-size: 1rem;
        font-weight: bold;
        color: rgba(255, 133, 63, 0.637);
        opacity: 0.9;
      }

      .need + .for {
        margin-left: 7.9px;
      }
    }
  }
}
@include desktop-up {
  .BG-video-controls {
    position: fixed;
    z-index: 1000; // Ensure controls are above the video
    bottom: 65px;
  }
  .video-backgroundUSER {
    z-index: 0; // Ensure the video stays in the background
    position: fixed; // Fix the video in the viewport
    top: 0;
    left: 0;
    width: 100vw; // Full width of the viewport
    height: 100vh; // Full height of the viewport
    object-fit: cover; // Ensure the video covers the entire background
  }
  .logo-user-home-page {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -50%);
    z-index: -100;
    width: auto;

    flex-direction: column;
    /* Stack the content vertically */
    width: 100%;

    .logo-text {
      text-transform: uppercase;
      font-size: 1rem;
      margin-left: -19px;
      letter-spacing: -0.02em;

      text-align: center;
      z-index: 100;

      .need,
      .drive {
        letter-spacing: 0.6px;
        margin: -6px;
        font-weight: bold;
        text-align: center;
      }

      .for {
        font-size: 0.5rem;
        text-align: center;
        position: relative;
        top: -5px;
        margin: 3.7px;
        font-weight: normal;
      }

      .Rental-Car {
        letter-spacing: -9px;
        font-weight: bold;
        margin-left: 410px;
        margin-top: -1px;

        font-size: 1rem;
        font-weight: bold;
        color: rgba(255, 133, 63, 0.637);
        opacity: 0.9;
      }

      .need + .for {
        margin-left: 7.9px;
      }
    }
  }
}
@include tablet-up {
  .BG-video-controls {
    position: fixed;
    z-index: 10; // Ensure controls are above the video
    bottom: 65px;
  }
  .video-backgroundUSER {
    z-index: 0; // Ensure the video stays in the background
    position: fixed; // Fix the video in the viewport
    top: 0;
    left: 0;
    width: 100vw; // Full width of the viewport
    height: 100vh; // Full height of the viewport
    object-fit: cover; // Ensure the video covers the entire background
  }
  .logo-user-home-page {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -50%);
    z-index: -100;
    width: auto;

    flex-direction: column;
    /* Stack the content vertically */
    width: 100%;

    .logo-text {
      text-transform: uppercase;
      font-size: 1rem;
      margin-left: -19px;
      letter-spacing: -0.02em;

      text-align: center;
      z-index: 100;

      .need,
      .drive {
        letter-spacing: 0.6px;
        margin: -6px;
        font-weight: bold;
        text-align: center;
      }

      .for {
        font-size: 0.5rem;
        text-align: center;
        position: relative;
        top: -5px;
        margin: 3.7px;
        font-weight: normal;
      }

      .Rental-Car {
        letter-spacing: -9px;
        font-weight: bold;
        margin-left: 410px;
        margin-top: -1px;

        font-size: 1rem;
        font-weight: bold;
        color: rgba(255, 133, 63, 0.637);
        opacity: 0.9;
      }

      .need + .for {
        margin-left: 7.9px;
      }
    }
  }
}
