.resizable-draggable-container {
    position: absolute;
    width: 300px;
    height: 200px;
  

    padding: 10px;
    box-sizing: border-box;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* Updated CSS */
.resize-handle {
  width: 60px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: se-resize;
}

.resize-handle i {
  font-size: 14px; /* Adjust size as needed */
  color: #212631; /* Icon color */
}