.gsap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f83030;
  
  }
  
  .animated-box {
    padding: 12px 24px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: #00ff1596;
    color: rgb(255, 0, 0);
    border-radius: 8px;
    transition: all 1.8s ease-in-out;
  }
  