@use "../media" as *; // Import media mixins

.topofuserhomepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  text-align: center;
}
.card {
  background: linear-gradient(120deg, transparent, #476eb571, transparent);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(252, 27, 27, 0);
  padding: 2rem;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.card h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
}


:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
}

.cardA {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.cardA:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.cardA:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.cardA:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.cardA:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.cardA:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}






@include mobile {
  .main-content {
    flex: 1;
  position: relative;
  display: flex;
    flex-direction: column;
  
    justify-content: center;
  
  
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .card {
    padding: 1rem;
  }

  .header, .footer {
    font-size: 1rem;
  }
}