@use "../media.scss" as *; // Import media mixins

.privacy-policy-container {
  z-index: 1000;
  
  max-width: 800px;
padding-top: 9rem;
padding-bottom: 9rem;
  background: var(--card-bg);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.3);
  animation: fadeIn 0.8s ease-in-out;
  text-align: left;
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);
  }

  .description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    opacity: 0.8;
    text-align: center;
  }

  .policy-section {z-index: -1000;

    margin-top: 2rem;
    padding: 1rem;
    border-radius: 8px;
    background: linear-gradient(120deg, #1eff0080, transparent);
    box-shadow: 0 4px 10px #1eff0080;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    h2 {
      font-size: 1.5rem;
      color: var(--highlight-color);
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;

      li {
        font-size: 1.1rem;
        margin: 0.5rem 0;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    p {
      font-size: 1.1rem;
    }
  }
}

// Dark mode
@media (prefers-color-scheme: dark) {
  .privacy-policy-container {
    background: rgba(47, 79, 79, 0.9);
    color: white;
    box-shadow: 0 0 15px rgba(30, 255, 0, 0.5);

    .policy-section {
      background: linear-gradient(120deg, #30d64e, transparent);
      box-shadow: 0 4px 10px #30d64e;

      h2 {
        color: #ff4040;
      }
    }
  }
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
