/* External font imports (Google Fonts) should be added to `frontend/index.html`
  via <link rel="stylesheet"> to avoid CORB/CORS issues when stylesheets
  are loaded cross-origin. Example in `index.html`:

  <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">

*/

.variable-proximity {
  font-family: "Roboto Flex", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
